@import 'src/styles/variables.scss';

.Spinner__Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 15px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 71px;
    height: 71px;
    margin: 6px;
    border: 7px solid $colorSecondary;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $colorSecondary transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.Spinner__Message {
  font-weight: 700;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
